extends layout

block content
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Modal title
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        | ...
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes

  
  
  .col-sm-8.col-sm-offset-2
    nav.navbar.navbar-default
      a.navbar-brand(href='/') Mutably Front-end For Fodé  and Gene
    i.get-albums-btn.fa.fa-refresh(aria-hidden="true")    
      | Refresh
    .panel.panel-default
      .panel-heading Music Albums
      ul.list-group
        // your resource items here
  script(src='https://code.jquery.com/jquery-3.2.1.js')
  script(src='/script.js')
