i.get-albums-btn {
  cursor: pointer;
  font-size: 2em;
}

i.fa.fa-pencil-square-o {
  cursor: pointer;
  font-size: 1em;
}

a i {
  text-decoration: none;
}

i.fa.fa-pencil-square-o:hover {
  color: blue;
}
